{% extends "base.html" %}

{% block page_content %}
    <body>
        <div class="page-header">
            <header>
                <h1>Tanner's Submission for Wolt's Coding Challenge</h1>
            </header>
        </div>

        <div class="section">
            <article>
                <p>
                    This site only includes an API for now, though a basic front-end could be added.
                    You can find out more at
                    <a href="https://github.com/m-tanner/OpeningHours" target="_blank"
                       style="color: #B200FD; text-decoration: underline; display: inline-block">the Github repo</a>
                    or head straight to the API, using something like
                    <code>
                        curl -X POST https://woltchallenge.app/api/v1/get_hours_for_humans -H "Content-Type:
                        application/json" -d
                        '{"monday": [],
                        "tuesday": [
                        {
                        "type": "open",
                        "value": 36000
                        },
                        {
                        "type": "close",
                        "value": 64800
                        }
                        ],
                        "wednesday": [],
                        "thursday": [
                        {
                        "type": "open",
                        "value": 36000
                        },
                        {
                        "type": "close",
                        "value": 64800
                        }
                        ],
                        "friday": [
                        {
                        "type": "open",
                        "value": 36000
                        }
                        ],
                        "saturday": [
                        {
                        "type": "close",
                        "value": 3600
                        },
                        {
                        "type": "open",
                        "value": 36000
                        }
                        ],
                        "sunday": [
                        {
                        "type": "close",
                        "value": 3600
                        },
                        {
                        "type": "open",
                        "value": 43200
                        },
                        {
                        "type": "close",
                        "value": 75600
                        }
                        ]
                        }'
                    </code>.
                </p>
                <p>
                    Cheers,<br/>
                    Tanner
                </p>
            </article>
        </div>

        <div class="footer">
            <footer>
                <p>
                    <a href="https://friendlyventures.io/" target="_blank">Tanner's Résumé</a>
                </p>
            </footer>
        </div>
    </body>
{% endblock %}